---
import Layout from "../layouts/Layout.astro";
import { LaunchesList } from "../components/Launches";
import { Layout as PageLayout } from "../components/Layout.tsx";
---

<Layout title="Launches - Total Report">
  <PageLayout client:only>
    <div class="h-full flex flex-col">
      <div class="flex-1">
        <LaunchesList client:load />
      </div>
    </div>
  </PageLayout>
</Layout>
