---
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

<script>
	// Monkey-patch history methods to dispatch custom events when URL changes
	(function(history) {
	  // For replaceState
	  const originalReplaceState = history.replaceState;
	  history.replaceState = function() {
		const result = originalReplaceState.apply(this, arguments);
		// Dispatch a custom event after URL is changed
		window.dispatchEvent(new Event('urlchange'));
		return result;
	  };
  
	  console.info('history.replaceState modified');
	  
	  // For pushState
	  const originalPushState = history.pushState;
	  history.pushState = function() {
		const result = originalPushState.apply(this, arguments);
		// Dispatch a custom event after URL is changed
		window.dispatchEvent(new Event('urlchange'));
		return result;
	  };
	})(window.history);
  
	console.info('history.pushState modified');
</script>
